.bg-container {
	background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
	background-size:cover;
	height:100vh;
	font-family:"roboto";
	color:white;
}
.mainheading {
	background-color:#323f4b;
	color:white;
	text-align:center;
	padding:10px;
	}
.text1 {
	background-color:#47a3f3;
	border-bottom-left-radius:5px;
	text-align:right;
	}
.text2 {
	background-color:#52606d;
	border-bottom-right-radius:5px;
	padding:10px;
	text-align:left;
}
.text-container {
margin:10px;
padding:10px;}
.common {
padding:15px;
border-top-left-radius:5px;
border-top-right-radius:5px;
margin-bottom:10px;
}

